Doc/LP-ref/Context/json completo_workflow_foquinha_ai.txt
{
  "nodes": [
    {
      "parameters": {},
      "type": "@devlikeapro/n8n-nodes-waha.wahaTrigger",
      "typeVersion": 202502,
      "position": [
        1088,
        256
      ],
      "id": "fdcb1bb4-b526-4f9c-9c27-bcff0f304ce5",
      "name": "WAHA Trigger",
      "webhookId": "0f958080-92ba-4f90-8bad-935a84ec5df0",
      "retryOnFail": true
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "chatId": "={{ $json.chatId || ($json.phone ? $json.phone + '@c.us' : '') }}",
        "messageId": "={{ $json.messageId }}",
        "participant": "",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1856,
        432
      ],
      "id": "f72ee045-951e-4a14-bb56-60f3ce8f5167",
      "name": "Send Seen",
      "credentials": {
        "wahaApi": {
          "id": "lbXxZOSj8RzUPOQh",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(json_agg(u), '[]'::json) AS rows\nFROM (\n  SELECT id, phone, name, onboarding_completed, onboarding_step,\n         goals, bad_habits, financial_situation, available_times\n  FROM users\n  WHERE phone = $1::text\n) u;",
        "additionalFields": {
          "queryParams": "phone"
        }
      },
      "id": "a8c5ad10-8e79-49d2-9ca3-f9e745fdf86f",
      "name": "Postgres - Load User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        2080,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "CL6MMUrhl3vvzWkO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ ($json.rows || []).length > 0 }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "rightValue": 0,
              "id": "45b18da3-7a56-4344-9108-a53a81a1296b"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "1dcd29b5-040e-4004-aae0-a8c98f1428a7",
      "name": "User Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2272,
        256
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO users (phone, name, onboarding_step)\nVALUES ($1::text, NULLIF($2::text, ''), 1)\nON CONFLICT (phone) DO UPDATE\nSET name = COALESCE(EXCLUDED.name, users.name)\nRETURNING *;",
        "additionalFields": {
          "queryParams": "={{ ['phone', 'profile_name'] }}\n"
        }
      },
      "id": "abc95635-9818-40d4-b000-40cac87a14ab",
      "name": "Postgres - Create User (Step 0)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        2560,
        -64
      ],
      "credentials": {
        "postgres": {
          "id": "CL6MMUrhl3vvzWkO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT message, sender, timestamp\nFROM conversations\nWHERE user_id = $1\nORDER BY timestamp DESC\nLIMIT 10;\n",
        "additionalFields": {
          "queryParams": "=={{ ['id'] }}"
        }
      },
      "id": "214bc539-e5a8-4dbd-a986-1c00ab09e042",
      "name": "Postgres - Load Conversation History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        3104,
        256
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "CL6MMUrhl3vvzWkO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, type, frequency\nFROM habits\nWHERE user_id = $1\n  AND is_active = true;",
        "additionalFields": {
          "queryParams": "=id"
        }
      },
      "id": "d0c8f2d3-8fba-4978-8597-0f146a71fccd",
      "name": "Postgres - Active Habits",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        2480,
        592
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "CL6MMUrhl3vvzWkO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT habit_id, completed, date, completed_at, notes\nFROM habit_logs\nWHERE user_id = $1\n  AND date = CURRENT_DATE;",
        "additionalFields": {
          "queryParams": "id"
        }
      },
      "id": "7963ffe3-ba5e-4a0e-90f4-e0d71fe1afde",
      "name": "Postgres - Today Progress",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        2736,
        704
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "CL6MMUrhl3vvzWkO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {
          "maxTokens": 800,
          "temperature": 0.7
        }
      },
      "id": "ae6640d2-477b-4ad0-9d2d-b1d0a813a3b9",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4112,
        768
      ],
      "credentials": {
        "openAiApi": {
          "id": "5x2HWXhBb9hPP0jQ",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "==={{ $('WAHA Context').item.json.text_in }}",
        "options": {
          "systemMessage": "=={{ $('SystemPrompt (Reloaded)').item.json.prompt }}"
        }
      },
      "id": "e405d4f7-0980-4076-b0ab-ec10913c45ad",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        4128,
        496
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversations (user_id, message, sender, context)\nVALUES ($1, $2, 'user', '{}'::jsonb);",
        "additionalFields": {
          "queryParams": "=id,message"
        }
      },
      "id": "b8f1e0e5-daaa-4968-9f77-158d2b77b6a0",
      "name": "Postgres - Save User Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        2992,
        64
      ],
      "credentials": {
        "postgres": {
          "id": "CL6MMUrhl3vvzWkO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversations (user_id, message, sender, context)\nVALUES ($1, $2, 'assistant', '{\"action\":\"reply\"}'::jsonb);",
        "additionalFields": {
          "queryParams": "=id,ai_output"
        }
      },
      "id": "90e36a74-75f3-4cf9-af2c-6266f968b30f",
      "name": "Postgres - Save Assistant Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        4640,
        480
      ],
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "postgres": {
          "id": "CL6MMUrhl3vvzWkO",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "d02826b0-0fdb-4e7f-991d-ba2849cbdd54",
      "name": "Cron (30 min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2224,
        1232
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  h.id,\n  h.name,\n  h.reminder_times,\n  u.id   AS user_id,\n  u.phone,\n  COALESCE(u.name,'amigo(a)') AS user_name\nFROM public.habits h\nJOIN public.users  u ON h.user_id = u.id\nWHERE h.is_active = TRUE\n  AND u.onboarding_completed = TRUE\n  AND date_trunc('minute', (now() AT TIME ZONE COALESCE(u.timezone,'America/Sao_Paulo')))::time = ANY(h.reminder_times)\n  AND NOT EXISTS (\n    SELECT 1\n    FROM public.habit_logs hl\n    WHERE hl.habit_id = h.id\n      AND hl.user_id  = u.id\n      AND hl.date     = CURRENT_DATE\n      AND hl.completed = TRUE\n  );\n",
        "additionalFields": {}
      },
      "id": "4157a4ed-8dd9-4c7d-8010-6a600e324b76",
      "name": "Postgres - Get Pending Reminders",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        2464,
        1232
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "CL6MMUrhl3vvzWkO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "rows",
        "options": {}
      },
      "id": "a33b020a-7b2d-4892-9ee0-48a8bbc7420d",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2688,
        1232
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversations (user_id, message, sender, context) VALUES ({{$json.user_id}}, 'REMINDER: {{$json.name}}', 'assistant', '{\"type\":\"reminder\"}');",
        "additionalFields": {}
      },
      "id": "b7f091ce-ae8d-4b52-9644-8ef26eb85898",
      "name": "Postgres - Log Reminder",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        3152,
        1216
      ],
      "credentials": {
        "postgres": {
          "id": "CL6MMUrhl3vvzWkO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Normalize UserData').item.json.onboarding_completed }}",
              "operator": {
                "type": "boolean",
                "operation": "isFalse"
              },
              "id": "bb0d3d38-6063-40a7-9cfb-ad255ada2791"
            },
            {
              "leftValue": "={{ $('Normalize UserData1').item.json.onboarding_step || 1 }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              },
              "rightValue": 6,
              "id": "d01d0ac2-d9dc-4bb6-947e-3625640eb4f6"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f16557dc-2d9a-485f-86a0-a55d3ca201cb",
      "name": "Onboarding?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3216,
        16
      ]
    },
    {
      "parameters": {
        "value1": "={{ $('Normalize UserData1').item.json.onboarding_step || 1 }}",
        "rules": {
          "rules": [
            {
              "operation": "equal",
              "value2": 1
            },
            {
              "operation": "equal",
              "value2": 2
            },
            {
              "operation": "equal",
              "value2": 3
            },
            {
              "operation": "equal",
              "value2": 4
            },
            {
              "operation": "equal",
              "value2": 5
            }
          ]
        }
      },
      "id": "7cbdf615-8d9a-44b3-b73b-5697820da78c",
      "name": "Onboarding Step",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        3424,
        -512
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users\nSET goals = {{\n  $('WAHA Context').item.json.text_in\n    ? \"'\" + $('WAHA Context').item.json.text_in.replace(/'/g,\"''\") + \"'\"\n    : \"NULL\"\n}},\n    onboarding_step = 2\nWHERE id = {{$('Normalize UserData1').item.json.id}};",
        "additionalFields": {}
      },
      "id": "4bf7bebc-ff82-4554-9a6e-6430e4fe03ca",
      "name": "PG - Step 1 (save goals → step 2)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        3680,
        -736
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "CL6MMUrhl3vvzWkO",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users\nSET bad_habits = {{\n  $('WAHA Context').item.json.text_in\n    ? \"'\" + $('WAHA Context').item.json.text_in.replace(/'/g,\"''\") + \"'\"\n    : \"NULL\"\n}},\n    onboarding_step = 3\nWHERE id = {{$('Normalize UserData1').item.json.id}};",
        "additionalFields": {}
      },
      "id": "d4a1704b-fa5a-4bbc-bbec-c1276c8d6500",
      "name": "PG - Step 2 (save bad_habits → step 3)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        3872,
        -592
      ],
      "credentials": {
        "postgres": {
          "id": "CL6MMUrhl3vvzWkO",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users\nSET financial_situation = {{\n  $('WAHA Context').item.json.text_in\n    ? \"'\" + $('WAHA Context').item.json.text_in.replace(/'/g,\"''\") + \"'\"\n    : \"NULL\"\n}},\n    onboarding_step = 4\nWHERE id = {{$('Normalize UserData1').item.json.id}};",
        "additionalFields": {}
      },
      "id": "ab97468a-22be-47b5-8da0-2946d05f5e5c",
      "name": "PG - Step 3 (save financial_situation → step 4)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        3936,
        -384
      ],
      "credentials": {
        "postgres": {
          "id": "CL6MMUrhl3vvzWkO",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users\nSET available_times = {{\n  $('WAHA Context').item.json.text_in\n    ? \"'\" + $('WAHA Context').item.json.text_in.replace(/'/g,\"''\") + \"'\"\n    : \"NULL\"\n}},\n    onboarding_step = 5\nWHERE id = {{$('Normalize UserData1').item.json.id}};",
        "additionalFields": {}
      },
      "id": "052867dd-480a-4aed-a6f6-def22aadee10",
      "name": "PG - Step 4 (save available_times → step 5)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        3680,
        -320
      ],
      "credentials": {
        "postgres": {
          "id": "CL6MMUrhl3vvzWkO",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users\nSET onboarding_completed = true,\n    onboarding_step = 6\nWHERE id = {{$('Normalize UserData1').item.json.id}};",
        "additionalFields": {}
      },
      "id": "8fcf7cb1-f035-40c0-9dcb-93472529f34b",
      "name": "PG - Step 5 (complete onboarding)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        3552,
        -112
      ],
      "credentials": {
        "postgres": {
          "id": "CL6MMUrhl3vvzWkO",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, phone, name, onboarding_completed, onboarding_step, goals, bad_habits, financial_situation, available_times\\nFROM users\\nWHERE id = {{$('Normalize UserData1').item.json.id}};",
        "additionalFields": {}
      },
      "id": "fd6ad7d9-3555-47e5-a2e5-873e3fd97ab5",
      "name": "Postgres - Reload User (After Step)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        4432,
        -144
      ],
      "credentials": {
        "postgres": {
          "id": "CL6MMUrhl3vvzWkO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "prompt",
              "type": "string",
              "value": "==Você é um assistente de desenvolvimento pessoal amigável, motivador e proativo. Fale em PT-BR, com tom leve, direto e encorajador.\nSe onboarding_completed for falso, conduza o onboarding fazendo UMA pergunta por vez conforme o passo atual. Se já terminou, responda ao contexto, registre confirmações e incentive o próximo passo.\n\n[USUÁRIO]\n- Nome: {{ $json.name || $node[\"WAHA Context\"].json.profile_name || \"amigo(a)\" }}\n- Metas: {{ $json.goals || \"—\" }}\n- Maus hábitos: {{ $json.bad_habits || \"—\" }}\n- Situação financeira: {{ $json.financial_situation || \"—\" }}\n- Horários: {{ $json.available_times || \"—\" }}\n- Onboarding: passo={{ $json.onboarding_step || 1 }}, concluído={{ $json.onboarding_completed ? \"sim\" : \"não\" }}\n\n[HISTÓRICO (10)]\n{{ $if(\n    $(\"Postgres - Load Conversation History\").isExecuted,\n    $items(\"Postgres - Load Conversation History\")\n      .map(item => item.json)\n      .filter(row => Object.keys(row).length > 0)\n      .map(row => `- [${row.timestamp}] ${row.sender}: ${row.message}`)\n      .join(\"\\n\") || \"— sem histórico —\",\n    \"— sem histórico —\"\n) }}\n\n[HÁBITOS ATIVOS]\n{{ $if(\n    $(\"Postgres - Active Habits\").isExecuted,\n    $items(\"Postgres - Active Habits\")\n      .map(item => item.json)\n      .filter(row => Object.keys(row).length > 0)\n      .map(row => `- ${row.name} (${row.frequency || \"—\"})`)\n      .join(\"\\n\") || \"— nenhum —\",\n    \"— nenhum —\"\n) }}\n\n[PROGRESSO HOJE]\n{{ $if(\n    $(\"Postgres - Today Progress\").isExecuted,\n    $items(\"Postgres - Today Progress\")\n      .map(item => item.json)\n      .filter(row => Object.keys(row).length > 0)\n      .map(row => `- hábito ${row.habit_id}: ${row.completed ? \"ok\" : \"pendente\"}`)\n      .join(\"\\n\") || \"— sem logs —\",\n    \"— sem logs —\"\n) }}\n",
              "id": "72d37eb4-bd49-4762-8601-4812698400eb"
            }
          ]
        },
        "options": {}
      },
      "id": "5e2593a8-1990-4cd8-96e5-724e921acc3b",
      "name": "SystemPrompt (Reloaded)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3776,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const load = $items('Postgres - Load User')[0]?.json || {};\nlet row = null;\n\nif (load.rows && Array.isArray(load.rows) && load.rows.length > 0) {\n  row = load.rows[0];\n}\n\nif (!row) {\n  const created = $items('Postgres - Create User (Step 0)')[0]?.json || null;\n  if (created) {\n    row = created;\n  }\n}\n\nif (!row) {\n  row = {};\n}\n\nconst wahaData = $items('WAHA Context')[0]?.json || {};\nrow.message = wahaData.text_in || '';\n\nreturn [{ json: row }];"
      },
      "id": "34645a3d-add5-4241-ae62-ed7cb8bffccc",
      "name": "Normalize UserData1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        288
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eefb1ef2-a6d1-48d5-ae4d-0693b40c1bde",
              "name": "session",
              "value": "={{ $json.session || $env.WAHA_SESSION || 'default' }}",
              "type": "string"
            },
            {
              "id": "2e1b49fc-cc72-41ca-bedc-9b3becc2bca8",
              "name": "phone",
              "value": "={{ ($json.payload?.from || '').replace('@c.us','').replace(/\\D/g,'') }}",
              "type": "string"
            },
            {
              "id": "d0009f2a-784c-42b0-95d1-aec6f72b0a14",
              "name": "text_in",
              "value": "={{ $json.payload?.body || '' }}",
              "type": "string"
            },
            {
              "id": "88454700-2d1a-4d78-8641-3a0ef3df17e7",
              "name": "messageId",
              "value": "={{ $json.payload?.id }}",
              "type": "string"
            },
            {
              "id": "a6608d98-423d-4c2f-af1b-3836c1972de7",
              "name": "profile_name",
              "value": "={{ $json.me?.pushName || '' }}",
              "type": "string"
            },
            {
              "id": "3d46ab38-c3a8-4da7-8143-942e250f88e2",
              "name": "chatId",
              "value": "={{ $json.payload?.from || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        304
      ],
      "id": "1237ccac-6947-463d-b9f3-d3d121c32122",
      "name": "WAHA Context"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "ai_output",
              "type": "string",
              "value": "={{ $json.output }}",
              "id": "0609a334-e470-4555-b58b-c3c11f47e966"
            }
          ]
        },
        "options": {}
      },
      "id": "8d09942f-f79c-43f1-bcbd-e1b21fe39f54",
      "name": "AI Out1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4400,
        256
      ]
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $env.WAHA_SESSION || 'default' }}",
        "chatId": "=={{ ($json.phone || '').replace(/\\D/g,'') + '@c.us' }}",
        "reply_to": "=",
        "text": "={{$json.ai_output}}",
        "linkPreview": false,
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        2928,
        1232
      ],
      "id": "305473ad-0f19-4689-a595-2e48ee8527e2",
      "name": "Mensagem lembrando",
      "credentials": {
        "wahaApi": {
          "id": "lbXxZOSj8RzUPOQh",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "6e70e0c4-753f-4812-9456-7bbab78da192",
      "name": "Merge (WAHA + AI)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        4768,
        112
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2384,
        -64
      ],
      "id": "32e0a58b-7f4b-4d78-90ce-e305b6b4c1d3",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2800,
        -192
      ],
      "id": "ff12effd-7b95-4db6-ab8d-ef11c5a208b6",
      "name": "Merge1"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $json.session || $env.WAHA_SESSION || 'default' }}",
        "chatId": "={{ $json.chatId || ($json.phone ? $json.phone + '@c.us' : '') }}",
        "reply_to": "={{ $json.messageId || '' }}",
        "text": "={{ $json.ai_output }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        5088,
        304
      ],
      "id": "7a9e9ddb-71b0-4f05-9633-444b83baa467",
      "name": "Send a text message1",
      "credentials": {
        "wahaApi": {
          "id": "lbXxZOSj8RzUPOQh",
          "name": "WAHA account"
        }
      }
    }
  ],
  "connections": {
    "WAHA Trigger": {
      "main": [
        [],
        [
          {
            "node": "WAHA Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Seen": {
      "main": [
        [
          {
            "node": "Postgres - Load User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Load User": {
      "main": [
        [
          {
            "node": "User Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Exists?": {
      "main": [
        [
          {
            "node": "Normalize UserData1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Postgres - Create User (Step 0)": {
      "main": [
        [
          {
            "node": "Normalize UserData1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres - Load Conversation History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Load Conversation History": {
      "main": [
        [
          {
            "node": "SystemPrompt (Reloaded)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Active Habits": {
      "main": [
        [
          {
            "node": "SystemPrompt (Reloaded)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Today Progress": {
      "main": [
        [
          {
            "node": "SystemPrompt (Reloaded)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Save User Message": {
      "main": [
        [
          {
            "node": "Onboarding?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Save Assistant Message": {
      "main": [
        []
      ]
    },
    "Cron (30 min)": {
      "main": [
        [
          {
            "node": "Postgres - Get Pending Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Get Pending Reminders": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Mensagem lembrando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Onboarding?": {
      "main": [
        [
          {
            "node": "Onboarding Step",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SystemPrompt (Reloaded)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Onboarding Step": {
      "main": [
        [
          {
            "node": "PG - Step 1 (save goals → step 2)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG - Step 2 (save bad_habits → step 3)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG - Step 3 (save financial_situation → step 4)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG - Step 4 (save available_times → step 5)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG - Step 5 (complete onboarding)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG - Step 1 (save goals → step 2)": {
      "main": [
        [
          {
            "node": "Postgres - Reload User (After Step)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG - Step 2 (save bad_habits → step 3)": {
      "main": [
        [
          {
            "node": "Postgres - Reload User (After Step)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG - Step 3 (save financial_situation → step 4)": {
      "main": [
        [
          {
            "node": "Postgres - Reload User (After Step)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG - Step 4 (save available_times → step 5)": {
      "main": [
        [
          {
            "node": "Postgres - Reload User (After Step)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG - Step 5 (complete onboarding)": {
      "main": [
        [
          {
            "node": "Postgres - Reload User (After Step)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Reload User (After Step)": {
      "main": [
        [
          {
            "node": "SystemPrompt (Reloaded)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SystemPrompt (Reloaded)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize UserData1": {
      "main": [
        [
          {
            "node": "Postgres - Save User Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres - Load Conversation History",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres - Active Habits",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres - Today Progress",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "WAHA Context": {
      "main": [
        [
          {
            "node": "Send Seen",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge (WAHA + AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Out1": {
      "main": [
        [
          {
            "node": "Postgres - Save Assistant Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge (WAHA + AI)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge (WAHA + AI)": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Postgres - Create User (Step 0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Postgres - Save User Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "11c31a52b5a57f34ea7cbe7a89aa6fd64f93811614901abfa44230e5c4e425f1"
  }
}